@model MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.Pacientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pacientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.documento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.documento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_paciente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
