@model MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.Ordenes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ordenes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_copago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_copago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_cuota_moderadora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_cuota_moderadora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPS.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPS.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membresias.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membresias.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicios.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_orden }) |
    @Html.ActionLink("Back to List", "Index")
</p>
