@model MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.Ordenes

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Validar</h2>

<div>
    <h4>Ordenes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_solicitud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_solicitud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IPS.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPS.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membresias.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membresias.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pacientes.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pacientes.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servicios.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servicios.descripcion)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Validar" class="btn btn-default" />
            </div>
        </div>

    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
