@model IEnumerable<MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.Ordenes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_solicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor_copago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor_cuota_moderadora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPS.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membresias.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicios.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_solicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_copago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_cuota_moderadora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPS.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membresias.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servicios.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_orden }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_orden }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_orden })
        </td>
    </tr>
}

</table>
