@model IEnumerable<MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.IPS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Nit
        </th>
        <th>
            Teléfono
        </th>
        <th>
            Nombre de contacto
        </th>
        <th>
            Apellidos de contacto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_contacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos_contacto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_ips }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_ips }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_ips })
        </td>
    </tr>
}

</table>
