@model IEnumerable<MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.Beneficiarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.habilitado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membresias.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pacientes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulares.id_titular)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.habilitado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membresias.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pacientes.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulares.id_titular)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_beneficiario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_beneficiario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_beneficiario })
        </td>
    </tr>
}

</table>
