@model MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.EPS

@{
    ViewBag.Title = "Eliminar EPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este?</h3>
<div>
    <h4>EPS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Nit:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nit)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Nombre de contacto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_contacto)
        </dd>

        <dt>
            Apellidos de contacto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos_contacto)
        </dd>

        <dt>
            Pago por transferencia:
        </dt>

        <dd>
            @if (Model.transferencia)
            {
                <span>Si</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>

        <dt>
            Número de cuenta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_cuenta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
