@model MedicinaPrepagada.Models.DBMedicinaPrepagada.Source.EPS

@{
    ViewBag.Title = "Detalle EPS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>EPS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Nit:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nit)
        </dd>

        <dt>
            Teléfono:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Nombre de contacto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_contacto)
        </dd>

        <dt>
            Apellidos de contacto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos_contacto)
        </dd>

        <dt>
            Pago por transferencia:
        </dt>

        <dd>
            @if(Model.transferencia)
            {
                <span>Si</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>

        <dt>
            Número de cuenta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_cuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_eps }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
